html{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    margin: auto;
    width: 80%;
}

/* header */
header img{
    display: block;
    width: 12%;
    height: auto;
    border-right: solid 2px rgb(224, 224, 224);
    padding-right: 10px;
    margin-bottom: 30px;
}

header{
    width: 100%;
    padding: 20px 0px;
}

header ul *{
    display: inline;
    margin-right: 20px;
}

header li *{
    color: rgb(110, 110, 110);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

header nav ul{
    padding-left: 0px;
}

/* main */
.yellow-box{
    position: relative;
}

#problem{   
    font-size: 0;
}

.yellow-box img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
}


.title{
    color: white;
    width: 55%;
    position: absolute;
    bottom: 60px;
    left: 30px;
}

h1, h3{
    margin: 0px;
}

.title h1{
    font-size: 220%;
    font-weight:200;
}

.title h3{
    margin-top: 15px;
    font-weight:200;
}

/* float */
.light-blue-box{
    margin: 40px 0px;
}

.light-blue-box h1{
    font-size: 250%;
    font-weight: 700;
}

.light-blue-box h3{
    font-size: 100%;
    font-weight: 300;
    color: rgb(110, 110, 110);
}

.blue-box{
    width: 100%;
    padding-bottom: 30px;
}

/* colonne */
.box-20{
    float: left;
    height: 500px;
    width: 20%;
}

.box-20 span{
    display: inline-block;
}

.blue-box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blue-box span{
    display: inline-block;
    color: rgb(110, 110, 110);
}

.blue-box h3{
    margin: 10px 0px;
    color: rgb(110, 110, 110);
}

.box-overlay{
    width: 100%;
    position: relative;
    font-size: 0px;
}

.box-60{
    float: left;
    height: 500px;
    width: 56%;
    margin: 0px 2%;
}

.blue-box::after{
    content: "";
    display: table;
    clear: both;
}

/* footer */
footer{
    text-align: center;
    margin-top: 30px;
}

footer span{
    width: 100%;
    margin-top: 15px;
}

footer span:first-child{
    vertical-align: middle;
}

.heart::after{
    content: "\2665";
    color: red;
    display: inline-block;
    width: auto;
    height: 30px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}